In [36]:
import pandas as pd
import numpy as np

In [4]:
def get_dataset():
    print('Loading Dataset')
    #Importing Data from CSV file
    data=pd.read_csv("heart.csv")
#     labels=data.iloc[:,[0]].values
#     pixels=data['pixels']

#     #converting pixels to Gray Scale images of 48X48 
#     images = np.array([np.fromstring(pixel, dtype=int, sep=" ")for pixel in pixels])
#     #images=images/255.0 #normalize images between [0,1]
#     images = images.reshape(images.shape[0],48,48).astype('float32')
#     return images, labels
    return data

In [5]:
data = get_dataset()

Loading Dataset

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [31]:
data_copy = data.copy()
sex = set(data['Sex'])
chestPainType = set(data['ChestPainType'])
restingECG = set(data['RestingECG'])
exerciseAngina = set(data['ExerciseAngina'])
ST_Slope = set(data['ST_Slope'])

In [32]:
print(sex)
print(chestPainType)
print(restingECG)
print(exerciseAngina)
print(ST_Slope)

{'F', 'M'}
{'ASY', 'TA', 'NAP', 'ATA'}
{'LVH', 'Normal', 'ST'}
{'N', 'Y'}
{'Up', 'Flat', 'Down'}

In [33]:
count = 0
for s in sex:
    data_copy['Sex']= data_copy['Sex'].replace([s], count)
    count +=1
    
count = 0
for c in chestPainType:
    data_copy['ChestPainType']= data_copy['ChestPainType'].replace([c], count)
    count +=1
    
count = 0
for r in restingECG:
    data_copy['RestingECG']= data_copy['RestingECG'].replace([r], count)
    count +=1
count = 0
for e in exerciseAngina:
    data_copy['ExerciseAngina']= data_copy['ExerciseAngina'].replace([e], count)
    count +=1
count = 0
for s in ST_Slope:
    data_copy['ST_Slope']= data_copy['ST_Slope'].replace([s], count)
    count +=1
data_copy

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,3,140,289,0,1,172,0,0.0,0,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,3,130,283,0,2,98,0,0.0,0,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,1,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,3,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,0,0

In [34]:
data_np = data_copy.to_numpy()

In [37]:
np.save('heart_convert', data_np)